{% extends 'base.html' %}
{% block title %}Inscription{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white">
                <h4 class="mb-0">Créer un compte patient</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">
                        S'inscrire
                    </button>
                </form>
                <hr>
                <p class="text-center text-muted">
                    Déjà un compte ? 
                    <a href="{% url 'accounts:login' %}">Se connecter</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}